.buttonContainer{
      all:unset;
      border-radius: 2px;
      margin:10px auto;
      padding:10px;
      background-color: #4700D8;
  }
  .buttonContainer:hover{
background-color: #9900F0;
transition-duration: 0.2s;
color:#FFEEEE;
}